#main{
    display: flex;
}
#right{
    width: 50%;
}
#photo_text{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    position:relative;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
}
#sign_up_1{
    top: 0;
    margin-right: 5px;
    float: right;
}
#welcoming{
    margin-top: 10%;
}
#btns{
    width: 90%;
}
#email, #password{
width: 35rem;
}
button{
    border-radius: 40px;
    margin-bottom: 2%;
    padding: 2% 0 2% 0;
}
#frgt-pass2{
    text-decoration: underline;
   float: right;
}
#signBtn{
    margin-top: 5%;
    padding: 2% 10%;
    border-radius: 40px;
    border: none;
}
