/* @media (max-width:1200px) and (min-width:800px){
    #main{
        flex-direction: row;
    }
} */
@media (max-width:790px) and (min-width:200px)  {
    #main{
        flex-direction:column;
    }
    #photo{
        width: 100%;
        height: 20rem;
        margin-bottom: 20%;
        background-size: cover;
    }
    #photo_text{
        width: 70%;
        top: 20%;
        left: 35%;
        transform: translate(-40%, 40%);      
    }
    #right{
        width: 100%;
    }
    #email, #password{
        width: 100%;
    }
   
}